body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
}

header {
  background: darkgreen;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}